@font-face {
    font-family: "Aa卑微的我喜欢遥远的你";
    src: local("AaBeiWeiDeWoXiHuanYaoYuanDeNi-2.ttf")， 
        url("https://5h9igzqanx.github.io/SCDWBST/FONT/fonts/AaBeiWeiDeWoXiHuanYaoYuanDeNi-2.ttf")；
}/*Aa卑微的我喜欢遥远的你(位于本地“fonts”文件夹)↑*/
@font-face {
    font-family: 'FontAwesome';
    src: local("fontawesome-webfont.ttf"),
        url("https: //5h9igzqanx.github.io/SCDWBST/FONT/fonts/fontawesome-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}/*FontAwesome(位于本地“fonts”文件夹)↑*/
/*@font-face {
    font-family: "楷体";
    src: local("simkai.ttf"),
        url("https://5h9igzqanx.github.io/SCDWBST/FONT/fonts/simkai.ttf");
}*//*楷体(位于本地“fonts”文件夹，为计算机未安装楷体的人准备的备用方案)*/